*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --mainBackgroundColor: rgba(229, 238, 246, 0.523);
  --lightFontfamily: "Inter", sans-serif;
  --boldFontfamily: "Ubuntu", sans-serif;
  --sectionBackground: white;
  --primaryTextColor: rgb(30, 48, 80);
  --darkAltBackground: rgb(1, 1, 11);
  --lightAltBackground: aliceblue;
  --primaryHover: whitesmoke;
  --secondaryHover: rgb(44, 44, 93);
}

.dark-theme {
  --mainBackgroundColor: rgb(1, 1, 11);
  --primaryTextColor: rgb(194, 203, 207);
  --secondaryTextColor: rgb(108, 115, 176);
  --sectionBackground: rgb(12, 12, 22);
  --primaryHover: rgb(19, 19, 31);
  --darkAltBackground: rgba(229, 238, 246, 0.523);
  --lightAltBackground: rgb(10, 13, 23);
}

body {
  background: var(--mainBackgroundColor);
  font-family: Georgia, "Times New Roman", Times, serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: inherit;
  cursor: pointer;
}

h4 {
  font-family: var(--lightFontfamily);
  color: var(--primaryTextColor);
}

p {
  line-height: 1.8rem;
  font-family: var(--lightFontfamily);
  color: var(--secondaryTextColor);
}

p::first-letter {
  text-transform: capitalize;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

i {
  color: var(--primaryTextColor);
}

.theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.theme-toggle label {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  width: 4rem;
  height: 1.8rem;
  border-radius: 5rem;
  background-color: var(--darkAltBackground);
  padding: 0.1rem 0.2rem;
}

.theme-toggle input {
  display: none;
}

.theme-toggle i {
  font-size: 1.2rem;
  height: fit-content;
  width: fit-content;
  transition: all 0.3s ease-out;
}

.ball {
  position: absolute;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  transform: translate(2.18rem);
  background: var(--lightAltBackground);
  transition: all 0.3s ease-out;
}

.fa-sun {
  color: rgba(240, 205, 5, 0.915);
  transform: translate(-2.3rem);
  opacity: 0;
}

.fa-moon {
  color: rgb(181, 189, 214);
}

.theme-toggle input:checked + label .fa-sun {
  transform: translate(0);
  opacity: 1;
}

.theme-toggle input:checked + label .fa-moon {
  transform: translate(2.5rem);
  opacity: 0;
}

.theme-toggle input:checked + label .ball {
  transform: translate(0);
}

.wiki-img {
  height: 11rem;
  width: 12rem;
  margin-top: 6rem;
  margin-bottom: 1rem;
}

header h1 {
  color: var(--primaryTextColor);
  font-family: var(--boldFontfamily);
  font-size: 2rem;
}

.wiki-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  max-width: 35rem;
  border: 2px solid var(--primaryTextColor);
  height: 3rem;
  border-radius: 2em;
  margin: 2rem auto;
  background: var(--sectionBackground);
  cursor: text;
}

.wiki-form-flex {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.4rem;
  align-items: center;
}

.wiki-form .suggestions {
  display: none;
}

.searching {
  height: auto;
  transition: all 0.5s ease-in;
}

.searching .wiki-form-flex {
  padding-bottom: 0;
}

.searching .suggestions {
  display: flex;
}

.fa-magnifying-glass {
  height: fit-content;
}

.wiki-search {
  background: inherit;
  height: 1.8rem;
  width: 80%;
  border: none;
  font-size: 1rem;
  color: var(--primaryTextColor);
}

.wiki-search::placeholder {
  font-family: var(--lightFontfamily);
  color: var(--primaryTextColor);
}

.wiki-search:focus {
  outline: none;
}

.clear-btn {
  font-size: 1.1rem;
  visibility: hidden;
}

.clear-btn i:hover {
  color: rgb(195, 12, 12);
}

.suggestions {
  flex-direction: column;
  list-style: none;
  padding: 1rem 1rem;
}

.suggestions li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px dotted var(--primaryTextColor);
  padding: 0.7rem 0;
  cursor: pointer;
}

.suggestions li p {
  color: var(--primaryTextColor);
}

.suggestions li a {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.suggestions li:hover {
  background: var(--primaryHover);
}

.delete-btn {
  font-size: 1rem;
}

.delete-btn i:hover {
  color: rgb(195, 12, 12);
}

.results {
  display: grid;
  gap: 1rem;
  padding: 0 1rem;
  margin: 5rem auto;
  margin-top: 3rem;
  transition: all 0.2s ease-in;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error p {
  color: rgb(216, 5, 5);
  margin-top: 2rem;
  font-size: 1.1rem;
  text-align: center;
  font-weight: 300;
}

.loading {
  border: 2px solid var(--primaryTextColor);
  border-top: 2px solid var(--mainBackgroundColor);
  border-right: 2px solid var(--mainBackgroundColor);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
  opacity: 0.8;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading::backdrop {
  position: absolute;
  content: "please wait";
  bottom: 0;
}

.results a {
  padding: 1.2rem 1.2rem;
  background: var(--sectionBackground);
  cursor: pointer;
  border-radius: 2em;
  transition: all 0.1s linear;
}

.results a h4 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  position: relative;
  padding-bottom: 0.5rem;
  border-bottom: 2px dotted;
}

.results a p {
  font-size: 1rem;
}

.results a:hover {
  outline: 2px double rgb(44, 44, 93);
  outline-offset: 3px;
}

.results a:focus {
  outline: 2px double rgb(44, 44, 93);
  outline-offset: 3px;
}

.up-btn {
  visibility: hidden;
  position: fixed;
  bottom: 1.5rem;
  right: 1rem;
  border: 1px solid;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--darkAltBackground);
  opacity: 0.6;
}

.up-btn i {
  color: var(--lightAltBackground);
  font-size: 1.2rem;
}

.up-btn:focus {
  outline: 2px double rgb(44, 44, 93);
  outline-offset: 3px;
}

@media (min-width: 768px) {
  .results {
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    padding: 1.2rem 3rem;
  }

  .suggestions li {
    padding: 1rem 0;
  }

  .delete-btn {
    visibility: hidden;
  }

  .suggestions .history:hover .delete-btn {
    visibility: visible;
  }

  .loading {
    width: 12rem;
    height: 12rem;
  }
}

@media (min-width: 992px) {
  .results {
    padding: 1.2rem 5rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}
